<div data-controller="transaktions"  id="annullated_transaktion">
  <div>
    <select
      required
      data-action="change->transaktions#setIdPosSessionReceivarAnnulled"
    >
      <option value="">Seleccione una Caja</option>
      <%= pos_sessions_active.each do |obj| %>
        <option value="<%= obj.id %>"><%= obj.user.full_name %> (Caja activa)</option>
      <% end %>
    </select>
  </div>
  <%=
    form_with url: pos_session_transaktion_path(pos_session, transaktion),
              method: :put, data: { turbo_frame: "_top" },
              class: "purchase-search-products-form" do |f|
  %>
    <div class="row">
      <input type="hidden" name="annullated" value="true">
      <%= f.hidden_field :receiver_pos_session_id, required: true,
            data: { transaktions_target: "idReceiverPosSessionIdAnnulled" } %>
      <div class="col-12 my-2">
        <%= f.label t('forms.models.transaktion.labels.description') %>
        <%= f.text_area :description, rows: 3, class: "form-control", required: true,
                            data: { market_target: "descriptionConfirmMarketRates" }  %>
      </div>
      <div class="col-6 col-md-4 col-lg-3 my-2 purchase-align-button-transaktion-new">
        <%= f.submit "Confirmar Anulación", class: "btn btn-primary mt-4" %>
      </div>
      <div class="col-6 col-md-4 col-lg-3 my-2 purchase-align-button-transaktion-new">
        <%= link_to 'Cancelar', pos_session_transaktion_path(pos_session.id, transaktion.id),
            class: "btn btn-outline-primary mt-4", data: { turbo_frame: "_top" }  %>
      </div>
    </div>
  <% end %>
</div>
