<section
  class="row justify-content-center align-items-center mt-4"
  data-controller="search"
>
  <div class="col-12">
    <div class="mb-3 row container-search-warehouse-destination">
      <div class="col-12 col-md-6 col-lg-5">
        <%=
          form_with url: search_product_warehouse_items_path(@warehouse),
                    method: :post, class: "purchase-search-products-form",
                    data: { search_target: "formSearchProduct" } do |form|
        %>
          <%= form.label "Buscar Producto" %>
          <%=
            form.search_field :search_product, id: "search-input",
              class: "form-control purchase-search-input",
              data: {
                action: "input->search#searchProduct",
                search_target: "inputSearchProduct"
              }
          %>
        <% end %>
      </div>
      <div
        data-search-target="searchResultsProduct"
        id="search_results_product_reference"
        class="search_results"
      ></div>
    </div>
    <input type="hidden" id="totalUnitsProductInItem" data-search-target="totalUnitsProduct">
    <div>
      <%= form_for([@warehouse, @item]) do |f| %>
        <%= f.hidden_field :product_id, data: { search_target: "productId" } %>
        <%= f.hidden_field :quantity, value: 0 %>
        <%= f.hidden_field :total_stock, value: 0 %>
        <div class="row justify-content-between" data-controller="item">
          <div class="col-6 col-md-4 my-2">
            <%= f.label "Descripción" %>
            <%= f.text_field :description, class: "form-control",
                data: { search_target: "descriptionItemFormNew" } %>
          </div>
          <div class="col-4 my-2">
            <%= f.label "Min Stock" %>
            <%= f.number_field :min_stock, class: "form-control" %>
          </div>
          <div class="col-4 my-2">
            <%= f.label "Max Stock" %>
            <%= f.number_field :max_stock, class: "form-control" %>
          </div>
          <div class="col-6 col-md-4 my-2">
            <%= f.label "Fecha elaboración" %>
            <%= f.date_field :date_of_elaboration, class: "form-control" %>
          </div>
          <div class="col-6 col-md-4 my-2">
            <%= f.label "Fecha Vencimiento" %>
            <%= f.date_field :expiration_date, class: "form-control"%>
          </div>
          <div class="col-6 col-md-4 my-2">
            <%= f.label "Código" %>
            <%= f.text_field :code, class: "form-control" %>
          </div>
          <div class="col-12 my-4 row">
            <div class="col-12 col-lg-6 my-2">
              <%= f.label "Precio de Lista" %>
              <div class="input-group">
                <%= f.number_field :list_price, step: '0.01', class: "form-control",
                    data: {
                      action: "input->item#setPriceListItem",
                      item_target: "listPriceItem"
                    }
                %>
                <input
                  type="number" placeholder="Descuento"
                  class="form-control mx-2" data-item-target="listPriceDiscountItem"
                >
                <i class="fa-solid fa-percent mt-2"></i>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary mx-2" id="basic-addon2"
                    data-action="click->item#calculateDiscountListPrice" type="button"
                  >
                    Calcular
                  </button>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 my-2">
              <%= f.label "Costo Unidad" %>
              <%= f.number_field :purchase_cost_unit, step: '0.01',
                  class: "form-control", data: { item_target: "purchaseCostUnitItem" } %>
            </div>
            <div class="col-6 col-md-6 col-lg-3 my-2">
              <%= f.label "Costo Paq/Caja" %>
              <%= f.number_field :purchase_cost_package, step: '0.01',
                  class: "form-control", data: { item_target: "purchaseCostPackageItem" } %>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <%= f.label "Precio venta Paquete" %>
              <div class="input-group">
                <%= f.number_field :sale_price_package, step: '0.01',
                    class: "form-control", data: { item_target: "salePricePackageItem" }
                %>
                <input
                  type="number" class="form-control mx-2"
                  placeholder="Aumento" data-item-target="salePricePackagePercentItem"
                >
                <i class="fa-solid fa-percent mt-2"></i>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary mx-2" id="basic-addon2"
                    data-action="click->item#calculatePricePackage" type="button"
                  >
                    Calcular
                  </button>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <%= f.label "Precio venta Unidad" %>
              <div class="input-group">
                <%= f.number_field :sale_price_unit, step: '0.01',
                    class: "form-control", data: { item_target: "salePriceUnitItem" } %>
                <input
                  type="number" class="form-control mx-2"
                  placeholder="Aumento" data-item-target="salePriceUnitPercentItem"
                >
                <i class="fa-solid fa-percent mt-2"></i>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary mx-2" id="basic-addon2"
                    data-action="click->item#calculatePriceUnit" type="button"
                  >
                    Calcular
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-2 mt-3">
            <%= f.submit "Ingresar producto", class: "btn btn-primary" %>
          </div>
          <div class="col-6 col-md-3 col-lg-2 mt-3">
            <%= link_to "Cancelar", pos_session_purchases_path(@pos_session),
                class: "btn btn-outline-primary", data: { turbo_frame: "_top" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
