<section class="product-form-container row mb-3" data-controller="products">
  <div class="col-12 col-md-10 col-lg-8 col-xl-8 app-form-papper" >
    <h5 class="mb-4 mt-3 text-center">Editar Producto</h5>
    <div class="">
      <%= bootstrap_form_for(@product) do |f| %>
        <%= f.hidden_field :customer_id, value: @product.customer_id,
              class: "form-control ", data: { products_target: "customerId" } %>
         <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :code, label: "Código" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6" >
            <%= f.text_field :name, label: "Nombre" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :generic_name, label: "Nombre genérico" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :presentation, label: "Presentación" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :trademark, label: "Laboratorio" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :characteristics, label: "Características" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :category, label: "Categoría" %>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.text_field :sub_category, label: "Subcategoría" %>
          </div>
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.text_field :description, label: "Descripción" %>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4 col-lg-4 col-xl-4">
            <%= f.text_field :unit, label: "Tipo de unidad" %>
          </div>
          <div class="col-6 col-md-4 col-lg-4 col-xl-4">
            <%= f.text_field :package, label: "Tipo de envase" %>
          </div>
          <div class="col-6 col-md-4 col-lg-4 col-xl-4">
            <%= f.number_field :total_unit, label: "Unidades por envase" %>
          </div>
        </div>
        <div class="row">
          <h5 class="col-12 mt-3 mb-4 text-center">Datos del Proveedor</h5>
          <div class="app-form-group col-6 col-md-4">
            <label class="">Nit</label>
            <input
              type="number" name="document_number" class="form-control " required
              data-action="input->products#searchProvider"
              data-products-target="inputSearchProvider"
              value="<%= @product&.customer&.document_number %>"
            >
          </div>
          <div class="app-form-group col-6 col-md-4">
            <label class="">Razón Social</label>
            <input
              type="text" name="name" class="form-control "
              data-products-target="socialReasonProvider" required
              value="<%= @product&.customer&.name %>"
            >
          </div>
          <div class="app-form-group col-6 col-md-4">
            <label class="">Email</label>
            <input
              type="text" name="email" class="form-control "
              data-products-target="emailProvider" required
              value="<%= @product&.customer&.email %>"
            >
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-8 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2 mb-2">
            <%= f.submit "Editar Producto", class: "btn btn-primary botones" %>
          </div>
          <div class="col-8 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2 mb-4">
            <%= link_to "Eliminar", product_path(@product),
              class: "btn btn-primary",
              data: {
                turbo_method: :delete,
                turbo_confirm: "Estas seguro de Eliminar el Producto #{@product.name}"
              }, class: 'btn btn-outline-danger'
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
