<section class="app-papper row justify-content-between" data-controller="products">
  <div class="col-6 col-md-5 mb-4">
    <%= form_with url: search_products_products_path,
        method: :post, class: "purchase-search-products-form",
        data: { products_target: "formSearchProducts" } do |form|
    %>
      <%= form.label "Buscar Productos" %>
      <%=
        form.search_field :search_products, id: "search-input",
          class: "form-control purchase-search-input",
          data: {
            action: "input->products#searchProducts",
            products_target: "inputSearchProducts"
          }, autofocus: true
      %>
    <% end %>
  </div>
  <% if policy(Product).new? %>
    <div class="col-5 col-md-4 col-lg-3">
      <%= link_to "Crear Producto", new_product_path,
          class: "btn btn-primary mt-4" %>
    </div>
  <% end %>
  <div class="col-12" id="search_results_products_index">
    <%= render partial: 'shared/tables/table_product', locals: { products: @products } %>
    <%= render partial: 'shared/pagination', locals: { records_pagination: @products } %>
  </div>
</section>
